
body{
    box-sizing: border-box;
    font-family: "Lexend-Regular", sans-serif;
}
a{
    text-decoration: none;
}

/*nav bar--------------------------*/
.nav-bar-home{
    background:  #82A0EA;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.imagem-logo-nav-bar{
    width: 300px;
    height: 79px;
}
.menu-home{
    background-color: #CBDAFF;
    width: auto;
    height: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px 5px 15px;
}
.ajust-menu-home > a{
    color: #000;
    font-size: 15px;
    font-weight: 400;
}



/*slogan-----------------------------*/
.campo-slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.alinhamento-conteudo-slogan{
    margin: 0px;
}
.conteudo-slogan{
    margin: 30px;
    padding: 0px;
}
.conteudo-slogan > h1{
    color: #ffffff;
    text-align: left;
    font-size: 4rem;
    line-height: 125.67%;
    letter-spacing: 0.11em;
    font-weight: 900;
    position: absolute;
    top: 360px;
    padding: 0px 20px 20px 40px;
}
.imagem-slogan{
    padding: 0px;
    width: 1300px;
    height: 642px;
    overflow: visible;
}




/*div destinos populares------------*/
.destinos-populares{
    margin-top: 250px;
    background-color: #abbffd6c;
    padding: 50px;
}
.alinhamento-introducao-destinos-populares{
    margin: 0px 0px 50px 0px;
    padding: 0px;
}
.introducao-destinos-populares {
    padding: 0px 0px 0px 129px;
}
.introducao-destinos-populares > h2{
    color: #000000;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.introducao-destinos-populares > h3{
    color: #000000;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}
/**/
.destinos-populares-cont{
    margin: 0px 129px 0px 129px;
}
.alinhamento-destpop-cont-text > p{
    color: #000000;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.imagem-destinos-populares{
    border-radius: 20px;
    width: 351px;
    height: 173px;
}





/*div descubra mais campo3*/
.descubra-mais{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.titulo-texto-campo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
}
.titulo-campo3 > h2{
    color: #000;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
.texto-campo3{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
/**/
.alinhamento-texto-img-descubra-mais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 90px 0px 90px;
    margin: 0px;
}
.texto1-img1-descubra-mais{
    margin-right: 20px;
    margin-left: 30px;
    padding: 0px;
}
.texto1-img1-campo3{
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 2400px;
    padding: 0px 20px 20px 40px;
}
.imagem1-campo3{
    border-radius: 20px 20px 0px 0px;
    width: 323px;
    height: 371px;
    padding: 0px;
}
.texto2-img2-descubra-mais{
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px;
}
.texto2-img2-campo3{
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 2415px;
    padding: 0px 20px 20px 40px;
}
.imagem2-campo3{
    border-radius: 20px 20px 0px 0px;
    width: 435px;
    height: 589px;
    padding: 0px;
}
.texto3-img3-descubra-mais{
    margin-right: 30px;
    margin-left: 30px;
    padding: 0px;
}
.texto3-img3-campo3{
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 2400px;
    padding: 0px 20px 20px 40px;
}
.imagem3-campo3{
    border-radius: 20px 20px 0px 0px;
    width: 323px;
    height: 448px;
    padding: 0px;
}























/*div footer*/
.footer{
    background-color: #82A0EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 307px;
    padding: 5px;
    margin-top: 300px;
}
.alinhamento-cont-footer{
    display: flex;
    justify-items: center;
    margin: 0px 0px 40px 0px;
}
.links-menu-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.links-menu-footer > a{
    color: #000000;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0px 40px 0px 40px;
} 
.icons-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}
.alinhamento-direitos-autorais{
    margin: 0px;
}
.direitos-autorais{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.direitos-autorais > p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}