
body{
    box-sizing: border-box;
    font-family: "Lexend-Regular", sans-serif;
}
a{
    text-decoration: none;
}

/*nav bar--------------------------*/
.ajust-navbar{
    width: 100%;
    padding: 0px;
}
.nav-bar{
    background: #3F70B2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px; /* Adicionado padding para espaçamento nas laterais */
    height: 200px;
}
.ajust-imagem-logo-nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.imagem-logo-nav-bar{
    width: 400px;
    height: 100px;
}
.ajust-space-links{
    display: flex;
    align-items: center;
    justify-items: center;
}
.space-links{
    display: flex;
    justify-content: space-around; 
}
.links-menu {
    background-color: #CBDAFF;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgb(41 44 96 / 63%);
    padding: 7px;
    margin: 0 10px; /* Adiciona um espaçamento entre os links */
}







/*slogan-----------------------------*/
.campo-slogan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.alinhamento-conteudo-slogan{
    margin: 0px;
}
.conteudo-slogan{
    margin: 30px;
    padding: 0px;
}
.text-slogan{
    color: #ffffff;
    text-align: left;
    font-size: 4rem;
    line-height: 125.67%;
    letter-spacing: 0.11em;
    font-weight: 900;
    position: absolute;
    text-shadow: 0 4px 6px rgb(41 44 96 / 89%);
    top: 380px;
    padding: 0px 20px 20px 40px;
}
.imagem-slogan{
    padding: 0px;
    width: 1300px;
    height: 642px;
    overflow: visible;
}




/*div destinos populares------------*/
.destinos-populares{
    margin-top: 250px;
    background-color: #3f70b2b8;
    padding: 50px;
}
.alinhamento-introducao-destinos-populares{
    margin: 0px 0px 50px 0px;
    padding: 0px;
}
.introducao-destinos-populares {
    padding: 0px 0px 0px 129px;
}
.introducao-destinos-populares > h2{
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}
.introducao-destinos-populares > h3{
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
/**/
.destinos-populares-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 129px 0px 129px;
}
.alinhamento-destpop-cont-text{
    /* background-color:rgba(255, 253, 202, 0.986); */
    background-color: rgba(64, 102, 149, 0.773);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(41, 44, 96, 0.652);
    margin: 10px; /* Adiciona margem entre as colunas */
    flex: 1 1 30%; /* Define a largura das colunas */
    max-width: 30%; /* Limita a largura máxima */
}
.alinhamento-destpop-cont-text > a{
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;
}
.imagem-destinos-populares{
    border-radius: 20px;
    width: 351px;
    height: 173px;
}





/*div descubra mais campo3*/
.descubra-mais{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.titulo-texto-campo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
}
.titulo-campo3 > h2{
    color: #000;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
.texto-campo3{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
/**/
.alinhamento-texto-img-descubra-mais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 90px 0px 90px;
    margin: 0px;
}
.texto1-img1-descubra-mais{
    padding: 0px;
}
.texto1-img1-campo3{
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 2400px;
    padding: 0px 20px 20px 40px;
}
.imagem1-campo3{
    border-radius: 20px 20px 0px 0px;
    width: 323px;
    height: 371px;
    padding: 0px;
}
.texto2-img2-descubra-mais{
    margin: 0% 4%;
    padding: 0px;
}
.texto2-img2-campo3{
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 2415px;
    padding: 0px 20px 20px 40px;
}
.imagem2-campo3{
    border-radius: 20px 20px 0px 0px;
    width: 323px;
    height: 500px;
    padding: 0px;
}
.texto3-img3-descubra-mais{
    padding: 0px;
}
.texto3-img3-campo3{
    color: #ffffff;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    position: sticky;
    top: 2400px;
    padding: 0px 20px 20px 40px;
}
.imagem3-campo3{
    border-radius: 20px 20px 0px 0px;
    width: 323px;
    height: 448px;
    padding: 0px;
}























/*div footer*/
.footer{
    background-color: #82A0EA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 307px;
    padding: 5px;
    margin-top: 300px;
}
.alinhamento-cont-footer{
    display: flex;
    justify-items: center;
    margin: 0px 0px 40px 0px;
}
.links-menu-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.links-menu-footer > a{
    color: #000000;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    margin: 0px 40px 15px 40px;
} 
.icons-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
}
.alinhamento-direitos-autorais{
    margin: 0px;
}
.direitos-autorais{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
.direitos-autorais > p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}







/*--------------media query--------------------*/

@media (min-width: 992px) and (max-width: 1200px) {
    .text-slogan{
        font-size: 3.5rem; 
        margin-top: 40px;
    }
    .destinos-populares-cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
    }
    .texto1-img1-campo3{
        font-size: 18px;
    }
    .texto2-img2-campo3{
        font-size: 18px;
    }
    .texto3-img3-campo3{
        font-size: 18px;
    }
}


@media (min-width: 768px) and (max-width: 992px){
    .nav-bar{
        height: 235px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links-menu{
        margin: 2px 0px 5px 0px;
    }
    .text-slogan{
        font-size: 3rem; 
        margin-top: 70px;
    }
    .introducao-destinos-populares{
        padding: 0px 0px 0px 80px;
    }
    .destinos-populares-cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
    }
    .alinhamento-texto-img-descubra-mais{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .texto1-img1-campo3{
        font-size: 18px;
    }
    .texto2-img2-campo3{
        font-size: 18px;
    }
    .texto2-img2-descubra-mais{
        margin: 0px;
    }
    .texto3-img3-campo3{
        font-size: 18px;
    }
}

